<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.DB.Mapper.UserCustomMapper">
    <resultMap id="" type="">

    </resultMap>
    <select id="findOrderUser" resultType="com.test.DB.Entity.OrderCustom">
        SELECT orders.*,
        user.`username`,
        user.`gender`,
        user.`birthday`,
        user.`address`
        FROM orders,USER
        WHERE orders.`user_id` = user.`id`
    </select>
</mapper>
